/.idea
/MapGenerator/*.iml
/out/production/MapGenerator/Preprocessor
/out/production/MapGenerator/TestSuite/Preprocessor

/MapGenerator/.idea

/MapGenerator/out/production/MapGenerator/Preprocessor/*.class

/MapGenerator/out/production/MapGenerator/TestSuite/Preprocessor/*.class
out

/MapGenerator/testLinearRunSmall.model
/MapGenerator/testKernelRunFragment.model
/MapGenerator/testKernelRunSmall.model

/MapGenerator/N52E007.model
/MapGenerator/*.bounds
/MapGenerator/*.model
